<style>

</style>

<div class = "container" style="margin-top: 30px;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label "바꿀 비밀번호" %> <i>(변경을 원하지 않을 시 비워주세요)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label "비밀번호 확인" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label "현재 비밀번호" %> <i>(설정을 바꾸기 위해서, 현재 비밀번호가 필요합니다.)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label "닉네임" %>
      <%= f.text_field :nickname, maxelngth: 20 %>
    </div>

    <div class="field">
      <%= f.label "전공 선택" %>
      <%= select_tag('user[major_id]', options_from_collection_for_select(@majors, :id, :name, current_user.major_id)) %>
    </div>

    <div class="actions center-align">
      <%= f.submit "정보 수정하기", class: "btn waves-effect waves-light green" %>
    </div>
  <% end %>
  
  <div class="center-align">
    <%= button_to "회원 탈퇴하기", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn waves-effect waves-light red lighten-2" %>
  </div>

</div>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>