<div class="container">
  <div class="book">
    <p id="notice"><%= notice %></p>
      <div class="row">
        <% @books.each do |book| %>
          <div class="col s4">
            <div class="card">
              <div class="card-image">
                <img src="<%= book.image_url %>">
                <span class="card-title"><a href="/books/<%= book.id %>"><%= book.title %></a></span>
                <%= book.impressions.count %>
              </div>
              <div class="card-content">
                <p><%= book.price %></p>
                <p><%= book.user.nickname if book.user %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row center">
        <%= will_paginate @books, :previous_label => '<' , :next_label => '>'  %>
      </div>
    <%= link_to '글쓰기', new_book_path, class: "btn btn-community right" %>
  </div>
</div>  

  
