<div class="container">
  <div class="book">

    <p id="notice"><%= notice %></p>
    <%= image_tag @book.image_url %>
    <p>
      <strong>Title:</strong>
      <%= @book.title %> / <%= @book.user.nickname %> /  조회수 : <%= @book.impressions.count %>
    </p>
    <p>
      <strong>Content:</strong>
      <%= @book.content %>
    </p>
    
    <p>
      <strong>Price:</strong>
      <%= @book.price %>
    </p>
    
    <% if current_user.email ==  @book.user.email %>
    <%= link_to '수정', edit_book_path(@book), class: "btn btn-community" %> |
    <%= link_to '삭제', @book, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-community" %> |
    <%= link_to '목록', books_path, class: "btn btn-community" %>
    <% else %>
    <%= link_to '목록', books_path, class: "btn btn-community" %>
    <% end %>
    
        
  </div>
</div>

