<div class="loginBox">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="field">
			<%= f.email_field :email, autofocus: true, placeholder: "이메일" %>
		</div>

		<div class="field">
			<%= f.password_field :password, autocomplete: "off", placeholder: "비밀번호" %>
		</div>

		<div class="actions">
			<%= f.submit "로그인", :class => "btn btn-loginBox waves-effect waves-light", data: { disable_with: '로그인중...' } %>
		</div>

		<%= render "devise/shared/links" %>
	<% end %>
</div>
