<div class="container">
  <div class="community">
    <p id="notice"><%= notice %></p>
    <table class="centered bordered">
      <thead>
        <tr>
          <th width="70">번호</th>
          <th align="center">제목</th>
          <th width="130">날짜</th>
          <th width="80">조회수</th>
        </tr>
      </thead>
    
      <tbody>
        <% @communities.each do |community| %>
          <tr>
            <td><%= community.id %></td>
            <td><strong><a href="communities/<%=community.id %>"><%= community.title %></a></strong></td>
            <td><%= community.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= community.impressions.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <!---- 페이지네이션 ----->
    <div class="row center">
      <!--ul id="pagination-community" class="pagination center">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="/communities?page=1">1</a></li>
        <li class="waves-effect"><a href="/communities?page=2">2</a></li>
        <li class="waves-effect"><a href="/communities?page=3">3</a></li>
        <li class="waves-effect"><a href="/communities?page=4">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul-->
      <!--- ↑ metarialize --->
      <%= will_paginate @communities, :previous_label => '<' , :next_label => '>' %>
    </div>
    <br>
    <div class="btn-wrapper">
    <%= link_to '글쓰기', new_community_path, class: "btn btn-community" %>  
    </div>
  </div>
</div>


    
    
<!----script type="text/javascript">
     
  $(document).ready(function(){
    $('#pagination-community').pagination({
        dataSource: [1, 2, 3, 4, 5, 6, 7, ... , 35],
        pageSize: 5,
        pageNumber: 3,
        callback: function(data, pagination) {
            // template method of yourself
            var html = template(data);
            dataContainer.html(html);
        }
    })
    });
</script--->
